.person {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: #e6e6e6;
    border-radius: .4rem;
    padding: 1rem;
}
.text {
    margin: 0;
    padding: 0;
}
.small {
    font-weight: 400;
    color: #7e7e7e;
    font-size: 1rem;
}
.big {
    font-weight: 700;
    color: black;
    font-size: 1.5rem;
}
.justify-start {
    justify-content: flex-start !important;
    gap: 1rem;
}