.logo {
	display: flex;
	margin-top: -21px;
	text-decoration: none;
}
.largeText {
	font-size: 48px;
	font-weight: 600;
	line-height: 48px;
	margin-top: 17px;
	color: rgb(18, 4, 126);
	/* -webkit-text-stroke: 1px #fff; */
	/* -webkit-text-fill-color: transparent; */
}
.smallText {
	font-size: 18px;
}
