.logo {
	display: flex;
	/* margin-top: -21px; */
	text-decoration: none;
	text-align: center;
	color: rgb(54, 40, 160);
}

.smallText {
	font-size: 13px;
	font-variant: small-caps;
	color: #000;
	margin-top: -10px;
}
