body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: url(https://3.downloader.disk.yandex.ru/preview/f715e8797f1c611d04f454a661bd0b95ca3f5e7bf74c5223b0ac0697d85b4281/inf/_cWz8b52s_CYW5a8pF8K3NpBJRgfuVyLahSC5YlR9c8AoXrbWH_rpa0yIVCxJaLCtOk-BFbbr7k5-O9VHLUr8A%3D%3D?uid=537849441&filename=LightTheme1.jpg&disposition=inline&hash=&limit=0&content_type=image%2Fjpeg&owner_uid=537849441&tknv=v2&size=1896x896)
		no-repeat center center fixed;
	background-size: cover;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.mt-1 {
	margin-top: 0.4rem !important;
}
.mt-2 {
	margin-top: 0.8rem !important;
}
.mb-1 {
	margin-bottom: 1rem !important;
}
.p-1 {
	padding: 1rem !important;
}
.p-1to2 {
	padding: 1rem 2rem !important;
}
.content-centered {
	display: flex;
	justify-content: center;
	align-items: center;
}
.crop {
	max-width: 320px;
}
