body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: url(./assets/LightTheme.jpg) no-repeat center center fixed;
	background-size: cover;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.mt-1 {
	margin-top: 0.4rem !important;
}
.mt-2 {
	margin-top: 0.8rem !important;
}
.mb-1 {
	margin-bottom: 1rem !important;
}
.p-1 {
	padding: 1rem !important;
}
.p-1to2 {
	padding: 1rem 2rem !important;
}
.content-centered {
	display: flex;
	justify-content: center;
	align-items: center;
}
.crop {
	max-width: 320px;
}
.image {
	border-radius: 0.5rem;
}
